{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hey, my name is Dylan and after getting into a car accident
          I lost my job. With the time on my hands i taught myself to code
          from internet resources like Udemy, youtube, google and the like.
          I built this site to showcase projects and make connections. Visit
          my contact page if you'd like to reach out to me directly.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}